{% extends "base_background.html" %}

{% block content %}
  <div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6 mb-4">
    <div class="container-fluid py-2">
      <h1>Delete information about child?</h1>
      <form action="" method="post">
        {% csrf_token %}
        <input type="submit" value="Yes" class="btn btn-danger">
        <a class="btn btn-primary" href="{{ previous_url }}">Cancel</a>
      </form>
      <p>After deleting you cant access  any information.</p>
      <p>We are sorry that you did not like our service.</p>
    </div>
  </div>
{% endblock %}
