{% extends "base_background.html" %}
{% load static %}

{% block content %}
  <div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6 mb-4">

    <section class="py-sm-1 py-1 position-relative">
      <div class="container">
        <div class="row">
          <div class="col-12 mx-auto">
            <div class="row py-5">
              <h3>Complication</h3>
              <h6>Soreness where the shot is given or fever can happen after vaccination.</h6>
              <div class="container-fluid"></div>
              {% if complication_list %}
                <table class="table">
                  <tr>
                    <th>ID</th>
                    <th>Decsription</th>
                    <th>Time when occured</th>
                    <th>After vaccine</th>
                    <th>Update</th>
                    <th>Delete</th>
                  </tr>
                  {% for complication in complication_list %}
                    <tr>
                      <td>
                        {{ complication.id }}
                      </td>
                      <td>
                        {{ complication.description }}
                      </td>
                      <td>
                        {{ complication.date_occurrence }}
                      </td>
                      <td>
                        {{ complication.vaccination }}
                      </td>
                      <td>
                        <a href="{% url "tracker:complication-update" pk=complication.id %}">UPDATE</a>
                      </td>
                      <td>
                        <a href="{% url "tracker:complication-delete" pk=complication.id %}">DELETE</a>
                      </td>
                    </tr>
                  {% endfor %}
                </table>
              {% else %}
                <p>No complication happened after vaccination</p>
              {% endif %}
            </div>
            <a href="{% url 'tracker:vaccination-detail' vaccine_id %}" class="btn btn-secondary link-to-page">Go
              back</a>
          </div>
        </div>
      </div>
  </div>
  </section>
{% endblock %}
