{% extends "base_background.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6 mb-4">
    <div class="container-fluid py-2">
      <h1>{{ object|yesno:"Update,Create" }} complication</h1>
      <form action="" method="post" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <div style="display: flex;">
          <button type="submit" class="btn btn-behance m-2">Save</button>
          <a class="btn btn-primary m-2" href="{{ previous_url }}">Go back</a>
        </div>
      </form>
    </div>
  </div>

{% endblock %}
