{% load static %}
<header class="header-2">
  <div class="page-header min-vh-45 relative" style="background-image: url('{% static 'img/virus mutations_large.jpg' %}')">
    <span class="mask bg-gradient-primary opacity-4"></span>
    <div class="container header-container">
      <div class="row">
        <div class="col-lg-7 text-center mx-auto header-text">
          <h1 class="text-bg-dark border-radius-2xl pt-3 mt-n5">Welcome to vaccination tracker</h1>
        </div>
      </div>
    </div>
  </div>
</header>
